html
	head
		title= shop
		link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous")
		link(rel="stylesheet", href="../styles/custome.css")
		link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.2.0/css/all.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
		script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js", integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", crossorigin="anonymous")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js", integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", crossorigin="anonymous")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", crossorigin="anonymous")

	body(style="overflow-x: hidden")
		.header
			.d-flex.bk-head
				.d-flex.mt-2.pt-2.support
					i.ml-3(class="fas fa-phone-volume fa-2x")
					p.ml-2.pt-2 Support free: 033.6511.283
		
			nav(class="navbar navbar-expand-lg navbar-light bg-light")
				a.logo(class="navbar-brand" href="https://coders-x.com/")
					img(src="../images/logo.png", width="150", height="30", alt="")
				// nav-bar responsive
				button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarSupportedContent")
					span.navbar-toggler-icon
				div.items(class="collapse navbar-collapse", id="navbarSupportedContent")
					ul(class="navbar-nav ml-auto")
						li.nav-item.active
							a.nav-link(href="/") Home	
						li(class="nav-item d-flex")
							a(class="nav-link" href="/products") Products
							// a(class="nav-link" href="/transfers/create") Transfer
						li.nav-item
							a.nav-link(href="#") Blog
						li.nav-item
							a.nav-link(href="#") Contact
						if !user
							li.nav-item
								a(class="nav-link" href="/auth/login") Login
							li.nav-item
								a(class="nav-link" href="/accounts/create") Create Account		
						a.cart(class="nav-link" href="/cart")
							i(class="fas fa-shopping-cart fa-2x")
							span= sumCart || ''
						if user
							//- li.nav-item
							//- 	p.mt-2(style="font-size: 14px")= user.name
							li.nav-item
								a(class="nav-link" href="#") Logout

			#carouselExampleIndicators.carousel.slide(data-ride="carousel", data-interval="2000")
				.sale
					p Sale off 30%
					h2 New Collection 2019
				button.btn.btn-outline-warning#btn-shop-now(type="button")
					a.link-shop(class="nav-link" href="/products") SHOP NOW
				// ol.carousel-indicators
				// 	li.active(data-target="#carouselExampleIndicators", data-slide-to="0")
				// 	li(data-target="#carouselExampleIndicators", data-slide-to="1")
				// 	li(data-target="#carouselExampleIndicators", data-slide-to="2")
				.carousel-inner(role="listbox")
					.carousel-item.active
						img.d-block.w-100(src="../images/6.jpg", alt="...")
					.carousel-item
						img.d-block.w-100(src="../images/7.jpg", alt="...")
					.carousel-item
						img.d-block.w-100(src="../images/5.jpg", alt="...")
				a.left.carousel-control(href='#carouselExampleIndicators', role='button', data-slide='prev')
					span.carousel-control-prev-icon(aria-hidden='true')
					span.sr-only Previous
				a.right.carousel-control(href='#carouselExampleIndicators', role='button', data-slide='next')
					span.carousel-control-next-icon(aria-hidden='true')
					span.sr-only Next
		.container
			.row
				.col-sm
					.single-service
						.box-item
							i.fa-2x(class="fas fa-car")
						h5 FREE SHIPPING
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo blanditiis odio.
				.col-sm
					.single-service
						.box-item
							i.fa-2x(class="fas fa-money-check-alt")
						h5 MONEY BACK
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo blanditiis odio.
				.col-sm
					.single-service
						.box-item
							i.fa-2x(class="fas fa-headphones")
						h5 ONLINE SUPPORT
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo blanditiis odio.
				.col-sm
					.single-service
						.box-item
							i.fa-2x(class="fas fa-briefcase")
						h5 BONUS PLUS
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo blanditiis odio.
			.row.pb-5.pt-5
				.col-sm
					.card
						img.card-img-top(src="../images/pic1.jpg", alt="...")
				.col-sm
					.card
						img.card-img-top(src="../images/pic2.jpg", alt="...")
				.col-sm
					.card
						img.card-img-top(src="../images/pic3.jpg", alt="...")
			.row.pb-5.pt-5
				.col-sm
					.card
						img.card-img-top(src="../images/p1.jpg", alt="...")
				.col-sm
					.card
						img.card-img-top(src="../images/p2.jpg", alt="...")
				.col-sm
					.card
						img.card-img-top(src="../images/p3.jpg", alt="...")
				.col-sm
					.card
						img.card-img-top(src="../images/p4.jpg", alt="...")

		// footer
		.footer
			.container
				.row.mt-5
					.col-sm-4
						.about-us
							h6 About Us
							p Lorem ipsum dolor sit, amet cons ectetur adipis icing elit. Nobis expedita dolorem minus eaque cupid itate repud iandae mollitia veritatis sim ilique, cumque arch itecto ectetur ectetur.
							ul
								li 
									i.fab.fa-facebook-square.fa-2x
								li
									i.fab.fa-instagram.fa-2x
								li
									i.fab.fa-google.fa-2x
								li
									i.fab.fa-twitter.fa-2x
					.col-sm-2
					.col-sm-2
					.col-sm-4
						.contact-us
							h6 Contact-Us
							ul 
								li
									i.fas.fa-map-marker-alt.fa-2x 
								li
									i.fab.fa-facebook-f.fa-2x
								li
									i.far.fa-envelope.fa-2x
								li
									i.fas.fa-mobile-alt.fa-2x
								li
									i.fab.fa-instagram.fa-2x
				.row.mt-5
					.copyright
						p Copyright 2019 CodersTokyo. All Rights Reserved

		script(type="text/javascript").
			$(document).ready(function(){
				$('.carousel').carousel(interval: 2000);
			});

 


  				
  			


			
		