extends ../layout/common.pug

block content
	h1 Pay
	p Your order has been placed. Products will be shipped within 3 days after order placement
	//- table.table
		tr
			td
				b PriceSum
			td
				b ProductSum
		tr
			td= productSum
			td= priceResult
	
	



