/*CART*/
nav .items {
	margin-left: 800px;
}

nav .items a {
	margin-left: 10px;
	font-weight: 700;
}

nav .items .cart {
	position: relative;
}

nav .items .cart span {
	position: absolute;
	color: #FFF;
	font-weight: 800;
	right: 0px;
	top: 0px;
	background-color: red;
	padding: 0px 7px;
	border-radius: 50%;
}

.col-pay {
	background-color: #EEE;
	height: 200px;
	border-radius: 5px;
	margin-left: 20px;
}

.col-pay form {
	padding-bottom: 5px;
}

.cart-img {
	width: 100px;
	height: 100px;
}

.info-product {

	height: 100px;
}

.info-product a {
	margin-left: 5px;
	margin-top: 40px;
}

.price-product {

	font-weight: 700;
}

.total-quantity {
	/*background-color: red;*/
}

.total-quantity input {
	width: 50%;
	border: none;
	margin: 31px 5px;
}