* {
    font-family: "Lato";
}

/* ----------------------------------------------------------------------------------------------- */
/* --------------------------------------- INDEX CSS --------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */

nav .items a {
	margin-left: 10px;
	font-weight: 700;
}

nav .items .cart {
	position: relative;
}

nav .items .cart span {
	position: absolute;
	color: #FFF;
	font-weight: 800;
	left: 25px;
	top: 0px;
	background-color: red;
	padding: 0px 7px;
	border-radius: 50%;
}

.col-pay {
	background-color: #FFF;
	height: 200px;
	border-radius: 5px;
	margin-left: 20px;
	border: 1px solid #EEE;
	margin-top: 0px;
}

.col-pay form {
	padding-bottom: 5px;
}

.cart-img {
	width: 120px;
	height: 120px;
}

.info-cart {
	position: relative;
}

.info-product {

	height: 100px;
}

.info-product a {
	margin-left: 5px;
	margin-top: 40px;
}

.info-product .cart-description {
	font-size: 12px;
}

.info-product a {
	margin: 0;
}

.price-product {

	font-weight: 700;
}

.total-quantity input {
	width: 50%;
	border: none;
	margin: 31px 5px;
}

/* --------------------------------------- */
.box-add-cart {
	position: relative;
	/* border: 1px solid #DDD; */
	padding: 0 10px;
	margin: 20px 0;
}

.box-add-cart .btn-add-cart {
	position: absolute;
	font-size: 10px;	
	height: 60px;
	width: 50%;
	opacity: 0;
	left: 50%;
	transform: translate(-50%, 0);
	border-radius: 3px;
	background-color: #FFF !important;
	border: 1px solid #FFF;
	transition: all 1s;
	font-weight: 600;
	color: #555;
}

.btn-add-cart i {
	display: block;
	padding-top: 10px;
}

.box-add-cart:hover .btn-add-cart {
	opacity: 0.8;
	top: 50%;
	transform: translate(-50%, -50%);
}

.box-add-cart a img {
	border: 1px solid #DDD;
}

/* ------------------------------------- */
.price-cart {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.price-cart p span{
	padding-left: 5px;
	color: #AAA;
	font-size: 90%;
	font-style: italic;
}

/* CSS CART */
.info-pro {
	display: flex;
	border: 1px solid #DDD;
	border-radius: 10px;
	background-color: whitesmoke;
	margin-bottom: 15px;
}

.img-pro {
	height: 150px;
	width: 100px;
	margin: 15px 10px;
	border: 1px solid #EEE;
}

.info-pro .details-pro {
	list-style: none;
	margin-top: 15px;
}

.info-pro .bonus-pro {
	list-style: none;
	display: flex;
}

.details-pro .description-pro {
	font-style: italic;
	color: #666;
	font-size: 14px;
}

.details-pro .stock-pro {
	color: blue;
}

.info-pro .bonus-pro li {
	margin: 10px 20px;
}

.details-pro .name-pro {
	font-weight: 700;

}

.bonus-pro .delete-pro {
	margin-right: 0px;
}

.bonus-pro .delete-pro a i{
	color: #DDD;
	transition: all .3s;
}

.bonus-pro .delete-pro a:hover i{
	transform: scale(1.2);
	color: red;
}

