.col-pay {
	background-color: #EEE;
	height: 200px;
	border-radius: 5px;
	margin-left: 20px;
}

.col-pay form {
	padding-bottom: 5px;
}

.cart-img {
	width: 100px;
	height: 100px;
}

.info-product {

	height: 100px;
}

.info-product a {
	margin-left: 5px;
	margin-top: 40px;
}

.price-product {

	font-weight: 700;
}

.total-quantity {

}