h1 {
	background-color: #EEE;
	margin-bottom: 0;
	padding-left: 40%;
}

.pic-style {
	width: 100%;
	overflow-x: hidden;
}
/*  */

.sale {
	color: #333;
	position: absolute;
	top: 150px;
	left: 100px;
	z-index: 1;
	font-size: 150%;
}

#btn-shop-now {
	position: absolute;
	top: 280px;
	left: 100px;
	z-index: 1;
	font-weight: 900;
	border: none;
	padding: 10px 40px;
	background-color: #fa5b2f;
}

#btn-shop-now:hover {
	background-color: #EEE;
}

#btn-shop-now:hover .link-shop {
	color: #fa5b2f;
}

.link-shop {
	color: #FFF;
}
/*  */

.btn-clicks {
	border: none;
	color: #FFF;
	margin-right: 10px;
}

.btn-clicks:hover {
	color: #333;
	background-color: #EEE;
}

.bk-head {
	background-color: #444;
	color: #FFF;
}

.support {
	position: fixed;
	z-index: 1;
	right: 10px;
	bottom: 10px;
	color: #333;
}
/* 
nav .items {
	margin-left: 800px;
} */

nav .items a {
	margin-left: 10px;
	font-weight: 700;
}

nav .items .cart{
	position: relative;
}

nav .items .cart span {
	position: absolute;
	color: #FFF;
	font-weight: 800;
	left: 25px;
	top: 0px;
	background-color: red;
	padding: 0px 7px;
	border-radius: 50%;
}

.single-service {
	display: flex;
	text-align: center;
	flex-direction: column;
	margin-top: 50px;
	margin-bottom: 50px;
}

.single-service h5 {
	padding-top: 15px;
	padding-bottom: 15px;
}

.single-service p {
	font-size: 90%;
	font-weight: 300;
}

.box-item i {
	padding-top: 8px;
}

.single-service .box-item {
	height: 50px;
	width: 50px;
	margin-left: 40%;
	border-radius: 50%;
	overflow: hidden;
	box-sizing: border-box;
}

.single-service .box-item:hover {
	background-color: #333;
}

.single-service .box-item:hover i {
	color: #FFF;
}

/*CSS FOOTER*/
.footer {
	background-color: #DDD;
	padding-top: 10px;
}

.about-us ul{
	list-style: none;
	display: flex;
}

.about-us ul li {
	padding-left: 10px;
	padding-right: 10px;
	transition: all .3s;
}

.about-us ul li:hover {
	transform: scale(1.2);
	color: #2a2ab4;
}

.contact-us ul {
	list-style: none;
	padding-top: 15px;
	margin-left: -35px;
}

.contact-us ul li {
	padding-top: 5px;
}


.copyright {
	border-top: 1px solid #FFF;
	background-color: #DDD;
	color: #666;
	margin-left: 30%;
}

/*Border-Style*/
.box-img {
	box-sizing: border-box;
	position: relative;
	padding: 0;
	margin: 20px 10px;
}

/* LEFT */
.border-style-left {
	border: none;
	transition: all 0.3s;
	position: absolute;
	border: 1px solid #111;
	top: 50%;	
	left: 10px;
	bottom: 50%;
	opacity: 0;
}

.box-img:hover .border-style-left {
	opacity: 1;
	border-right: 1px solid #111;
	position: absolute;
	top: 10px;	
	left: 10px;
	bottom: 10px;
	transform: scale(1, 1);
}
/* RIGHT */
.border-style-right {
	border: none;
	transition: all 0.3s;
	position: absolute;
	border: 1px solid #111;
	top: 50%;	
	right: 10px;
	bottom: 50%;
	opacity: 0;
}

.box-img:hover .border-style-right {
	opacity: 1;
	border-right: 1px solid #111;
	position: absolute;
	top: 10px;	
	right: 10px;
	bottom: 10px;
	transform: scale(1, 1);
}
/* TOP */
.border-style-top {
	border: none;
	transition: all 0.3s;
	position: absolute;
	border: 1px solid #111;
	right: 50%;	
	top: 10px;
	left: 50%;
	opacity: 0;
}

.box-img:hover .border-style-top {
	opacity: 1;
	border-right: 1px solid #111;
	position: absolute;
	top: 10px;	
	left: 10px;
	right: 10px;
	transform: scale(1, 1);
}
/* BOTTOM */
.border-style-bottom {
	border: none;
	transition: all 0.3s;
	position: absolute;
	border: 1px solid #111;
	right: 50%;	
	bottom: 10px;
	left: 50%;
	opacity: 0;
}

.box-img:hover .border-style-bottom {
	opacity: 1;
	border-right: 1px solid #111;
	position: absolute;
	right: 10px;	
	left: 10px;
	bottom: 10px;
	transform: scale(1, 1);
}

/* --------------------------------------- */
.box-add-cart {
	position: relative;
	border: 1px solid #DDD;
	padding: 0;
	margin: 20px 10px;
}

.box-add-cart .btn-add-cart {
	position: absolute;
	font-size: 10px;	
	height: 60px;
	width: 50%;
	opacity: 0;
	left: 50%;
	transform: translate(-50%, 0);
	border-radius: 3px;
	background-color: #FFF !important;
	border: 1px solid #FFF;
	transition: all 1s;
	font-weight: 600;
	color: #555;
}

.btn-add-cart i {
	display: block;
	padding-top: 10px;
}

.box-add-cart:hover .btn-add-cart {
	opacity: 0.8;
	top: 50%;
	transform: translate(-50%, -50%);
}

/* ------------------------------------- */
.price-cart {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.price-cart p span{
	padding-left: 5px;
	color: #AAA;
	font-size: 90%;
	font-style: italic;
}