/* PRODUCT DETAILS */
.product-details {
    margin-left: 10px;
    border: none;
}

.price-new {
    font-weight: 900;
    font-size: 20px;
}

.price-new span {
    font-style: italic;
}

.price-new span, .price-tax {
    font-weight: 300;
    font-size: 14px;
}

.card-body p span {
    font-weight: 300;
    font-size: 14px;
    padding-left: 5px;
}

.product-evaluate i {
    color: yellowgreen;
}

/* STYLE DROPDOWN */
.product {
	position: relative;
	display: block;
}

.sub-menu {
	position: absolute;
	opacity: 0;
	top: 55px;
	display: none;
	right: 20px;
	border: 1px solid #EEE;
	display: flex;
	padding-left: 0px;
	transition: all .3s;
}

.item-menu .item {
	list-style: none;
	color: #888;
}

.sub-menu .item-menu {
	margin: 10px 25px 20px 25px;
}

.item-menu .item:nth-child(1) {
	font-weight: 500;
	font-size: 20px;
	text-align: center;
	padding-bottom: 10px;
	margin-bottom: 10px;
	color: plum;
	border-bottom: 1px solid #EEE;
	text-transform: uppercase;
}

.item-menu .item {
	font-weight: 300;
	font-size: 14px;
	color: #333;
}

.item span {
	margin-right: 10px;
}

.item i {
	margin-right: 5px;
	font-size: 80%;
	color: #fa5b2f;
}

.navbar-nav .top-bar-product:hover .sub-menu {
	opacity: 1;
	z-index: 1;
	background-color: #FFF;
}