extends ../layout/common.pug
block content
	h1 Create User

	form(action="/users/create", method="POST")
		.form-group
			lable(for="name") Name
			input#name.form-control(type="text", name="name", placeholder="Enter name")

		.form-group
			lable(for="age") Age
			input#age.form-control(type="text", name="age", placeholder="Enter age")
		button.btn.btn-primary create