extends ../layout/common.pug

block content
	nav(class="navbar navbar-expand-lg navbar-light bg-light")
		a(class="navbar-brand" href="/") Home
		div(class="collapse navbar-collapse" id="navbarSupportedContent")
			ul(class="navbar-nav mr-auto")
				li(class="nav-item d-flex")
					a(class="nav-link" href="#") Search
					a(class="nav-link" href="/users/create") Create
					a(class="nav-link" href="#") Update
					a(class="nav-link" href="#") Delete
				form(action="/users/search", method="GET", class="form-inline my-2 my-lg-0")
					input(id="input-field", type="text", name="q", class="form-control mr-sm-2", placeholder="Search", aria-label="Search")
					button(class="btn btn-outline-success my-2 my-sm-0", type="submit") Search
	h1 Users

	ul(class="list-group")
		each user in users 
			li(class="list-group-item")
				span= user.name
				span &nbsp
				a(href='users/' + user.id, class="badge badge-light") View
	script.
		var searchInput = document.getElementById('input-field');
		var value = searchInput.value;
		console.log(value);
		searchInput.addEventListener('change', function() {
			sessionStorage.setItem('draft', searchInput.value)});
		searchInput.value = sessionStorage.getItem('draft');


    
    
    
    
    