extends ../layout/common.pug

block content		
	h1 
		span Users
		a.btn.btn-primary.ml-2(href="/users/create") Create
	.d-flex.align-items-center
		form.ml-auto.d-flex(action="users/search", method="GET")
			input.form-control.mr-sm-2(id="input-field", type="text", name="q", placeholder="Search", aria-label="Search")
			button.btn.btn-outline-success.my-2.my-sm-0(type="submit") Search
	table.table
		tr
			td
				b Avatar
			td
				b Name
			td
				b Age
			td
				b Action
		each user in users 
			tr
				td
					img(src=user.avatar, width="64")
				td= user.name
				td= user.age
				td
					a(href='users/' + user.id, class="badge badge-light") View
	script.
		var searchInput = document.getElementById('input-field');
		var value = searchInput.value;
		console.log(value);
		searchInput.addEventListener('change', function() {
			sessionStorage.setItem('draft', searchInput.value)});
		searchInput.value = sessionStorage.getItem('draft');


    
    
    
    
    