html
	head
		link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
		link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.2.0/css/all.css")
		link(rel="stylesheet", href="../styles/cart.css")
		link(rel="stylesheet", href="../styles/product.css")
		link(href="https://fonts.googleapis.com/css?family=Lato&display=swap", rel="stylesheet")
		script(src="js/jquery-1.11.1.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
		script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js", integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", crossorigin="anonymous")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js", integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", crossorigin="anonymous")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", crossorigin="anonymous")
	body(style="overflow-x: hidden")
		.header
			nav(class="navbar navbar-expand-lg navbar-light bg-light")
				a(class="navbar-brand" href="/")
					img(src="../images/logo.png", width="150", height="30", alt="")
				// nav-bar responsive
				button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarResponsive")
					span.navbar-toggler-icon
				div.items(class="collapse navbar-collapse", id="navbarResponsive")
					ul(class="navbar-nav ml-auto")
						li.nav-item.active
							a.nav-link(href="/") Home
						li.top-bar-product(class="nav-item d-flex")
							a.product(class="nav-link" href="/products") Products
							ul.sub-menu
								.item-menu
									li.item Lipstick1
									li.item
										i.fas.fa-angle-double-right
										span  Matte Lipstick
									li.item 
										i.fas.fa-angle-double-right
										span  Lip gloss
									li.item
										i.fas.fa-angle-double-right
										span  Creame lipstick
									li.item 
										i.fas.fa-angle-double-right
										span  Lip tint
									li.item
										i.fas.fa-angle-double-right
										span  Pearly lipstick
									li.item
										i.fas.fa-angle-double-right
										span  Lip balm
								.item-menu
									li.item Lipstick
									li.item
										i.fas.fa-angle-double-right
										span  Matte Lipstick
									li.item 
										i.fas.fa-angle-double-right
										span  Lip gloss
									li.item
										i.fas.fa-angle-double-right
										span  Creame lipstick
									li.item 
										i.fas.fa-angle-double-right
										span  Lip tint
									li.item
										i.fas.fa-angle-double-right
										span  Pearly lipstick
									li.item
										i.fas.fa-angle-double-right
										span  Lip balm
								.item-menu
									li.item Lipstick
									li.item
										i.fas.fa-angle-double-right
										span  Matte Lipstick
									li.item 
										i.fas.fa-angle-double-right
										span  Lip gloss
									li.item
										i.fas.fa-angle-double-right
										span  Creame lipstick
									li.item 
										i.fas.fa-angle-double-right
										span  Lip tint
									li.item
										i.fas.fa-angle-double-right
										span  Pearly lipstick
									li.item
										i.fas.fa-angle-double-right
										span  Lip balm
							//- a(class="nav-link" href="#") Logout
						li.nav-item.top-bar-product
							a.product.nav-link(href="#") Contact
							ul.sub-menu
								.item-menu
									li.item Lipstick2
									li.item
										i.fas.fa-angle-double-right
										span  Matte Lipstick
									li.item 
										i.fas.fa-angle-double-right
										span  Lip gloss
									li.item
										i.fas.fa-angle-double-right
										span  Creame lipstick
									li.item 
										i.fas.fa-angle-double-right
										span  Lip tint
									li.item
										i.fas.fa-angle-double-right
										span  Pearly lipstick
									li.item
										i.fas.fa-angle-double-right
										span  Lip balm
								.item-menu
									li.item Lipstick
									li.item
										i.fas.fa-angle-double-right
										span  Matte Lipstick
									li.item 
										i.fas.fa-angle-double-right
										span  Lip gloss
									li.item
										i.fas.fa-angle-double-right
										span  Creame lipstick
									li.item 
										i.fas.fa-angle-double-right
										span  Lip tint
									li.item
										i.fas.fa-angle-double-right
										span  Pearly lipstick
									li.item
										i.fas.fa-angle-double-right
										span  Lip balm
								.item-menu
									li.item Lipstick
									li.item
										i.fas.fa-angle-double-right
										span  Matte Lipstick
									li.item 
										i.fas.fa-angle-double-right
										span  Lip gloss
									li.item
										i.fas.fa-angle-double-right
										span  Creame lipstick
									li.item 
										i.fas.fa-angle-double-right
										span  Lip tint
									li.item
										i.fas.fa-angle-double-right
										span  Pearly lipstick
									li.item
										i.fas.fa-angle-double-right
										span  Lip balm
						li.nav-item.top-bar-product
							a.product.nav-link(href="#") Blog
							ul.sub-menu
								.item-menu
									li.item Lipstick3
									li.item
										i.fas.fa-angle-double-right
										span  Matte Lipstick
									li.item 
										i.fas.fa-angle-double-right
										span  Lip gloss
									li.item
										i.fas.fa-angle-double-right
										span  Creame lipstick
									li.item 
										i.fas.fa-angle-double-right
										span  Lip tint
									li.item
										i.fas.fa-angle-double-right
										span  Pearly lipstick
									li.item
										i.fas.fa-angle-double-right
										span  Lip balm
								.item-menu
									li.item Lipstick
									li.item
										i.fas.fa-angle-double-right
										span  Matte Lipstick
									li.item 
										i.fas.fa-angle-double-right
										span  Lip gloss
									li.item
										i.fas.fa-angle-double-right
										span  Creame lipstick
									li.item 
										i.fas.fa-angle-double-right
										span  Lip tint
									li.item
										i.fas.fa-angle-double-right
										span  Pearly lipstick
									li.item
										i.fas.fa-angle-double-right
										span  Lip balm
								.item-menu
									li.item Lipstick
									li.item
										i.fas.fa-angle-double-right
										span  Matte Lipstick
									li.item 
										i.fas.fa-angle-double-right
										span  Lip gloss
									li.item
										i.fas.fa-angle-double-right
										span  Creame lipstick
									li.item 
										i.fas.fa-angle-double-right
										span  Lip tint
									li.item
										i.fas.fa-angle-double-right
										span  Pearly lipstick
									li.item
										i.fas.fa-angle-double-right
										span  Lip balm
						if !user
							li.nav-item
								a(class="nav-link" href="/auth/login") Login
							li.nav-item
								a(class="nav-link" href="/accounts/create") Create Account
						li.nav-item
							a.cart(class="nav-link" href="/cart")
								i(class="fas fa-shopping-cart fa-2x")
								span= sumCart || ''
						if user
							//- li.nav-item
							//- 	p(style="font-size: 12px")= user.name
							li.nav-item
								a(class="nav-link" href="#") Logout
			

		.container.pt-5
			block content
		.footer
			.container
				.row.mt-5
					.col-sm-4
						.about-us
							p.footer-title About Us
							p Lorem ipsum dolor sit, amet cons ectetur adipis icing elit. Nobis expedita dolorem minus eaque cupid itate repud iandae mollitia veritatis sim ilique, cumque arch itecto ectetur ectetur.
							ul
								li 
									i.fab.fa-facebook-square.fa-2x
								li
									i.fab.fa-instagram.fa-2x
								li
									i.fab.fa-google.fa-2x
								li
									i.fab.fa-twitter.fa-2x
					.col-sm-2
						.product-us
							p.footer-title Product 
								ul
									li 
										i.fab.fa-product-hunt
										span Sliptick
									li 
										i.fab.fa-product-hunt
										span Sliptick
									li 
										i.fab.fa-product-hunt
										span Sliptick
									li 
										i.fab.fa-product-hunt
										span Sliptick
									li 
										i.fab.fa-product-hunt
										span Sliptick
					.col-sm-2
						.resource
							p.footer-title Resource
								ul
									li 
										i.fa.fa-paperclip
										span Facebook.com
									li 
										i.fa.fa-paperclip
										span Facebook.com
									li 
										i.fa.fa-paperclip
										span Facebook.com
									li 
										i.fa.fa-paperclip
										span Facebook.com
									li 
										i.fa.fa-paperclip
										span Facebook.com
					.col-sm-4
						.contact-us
							h.footer-title Contact
							ul 
								li
									i.fas.fa-map-marker-alt
									span Address: Da Nang City - Viet Nam
								li
									i.fab.fa-facebook-f
									span Facebook: coderx.facebook.com
								li
									i.far.fa-envelope
									span Email: Sonqueen.no1@gmail.com
								li
									i.fas.fa-mobile-alt
									span Phonenumber: 033.6511.283
								li
									i.fab.fa-instagram
									span Instagram: coderx.instagr
				.row.mt-5
					.copyright
						p Copyright 2019 CodersTokyo. All Rights Reserved