extends ../layout/common.pug

block content
	h1 Product details

	.row.d-flex.justify-content-center
		.card.col-sm-3
			img.card-img-top(src="https://res.cloudinary.com/dcailib1d/image/upload/v1568446258/ImagesExpress/p3_dw081d.jpg", alt="...")
		.card.col-sm-4.product-details
			.card-body
				p.price-new $90.00 
					span(style="text-decoration: line-through") $100.00
				p.price-tax Ex Tax:
					span $90.00
				p.product-evaluate
					i.far.fa-star
					i.far.fa-star
					i.far.fa-star
					i.far.fa-star
					i.far.fa-star
					span Overview || Write a review
				p Brand: 
					span= product.name
				p Product code:
					span product10
				p Availability:
					span In Stock
				p Description:
					span= product.description
				a.btn.btn-primary(href='/cart/add/' + product.id) Add to cart	
		.col-sm-3.col-pay
			table.table
				tr
					th
						b Total Price:
					td= priceSum
					
				tr
					th
						b ProductSum
					td= productSum
				tr 
					th 
						b Shipping
					td
			form(action="/cart/checkout", method="GET", style="width:100%")
				button.btn.btn-outline-success(type="submit", style="width:100%") Go to checkout